:root {
    --black : rgb(35,43,43);
    --orange : rgb(251, 140, 0);
    --orangesoft: rgba(251, 92, 0, 0.67);
    --blue : rgba(8,33,50, 1);
    --bluesoft : rgba(5, 58, 93, 0.867);

    /* Breakpoints for responsive */
    --mobile : 768px;
    --desktop: 769px;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) {
    h2 {
        font-weight: 100;
        font-size: 60px;
    }
    
}