:root {
    --black : rgb(35,43,43);
    --orange : rgb(251, 140, 0);
    --orangesoft: rgba(251, 140, 0, 0.7);
    --blue : rgba(8,33,50, 0.8);

    --mobile : 768px;
    --desktop: 769px;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) {
    h2 {
        font-weight: 100;
        font-size: 60px;
    }    
}